.gradient-background {
    background: linear-gradient(300deg, #153462, #4FA095, #BAD1C2);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body{
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

#warna{
  color: #4FA095;
}

#color-dark{
  color: #153462;
}

#buttonWarna{
  background-color: #BAD1C2; 
  width: 100px;
  height: 100px;
}

#buttonKecil{
  background-color: #153462;
}

.nav-link{
  color: #153462;
}

#efect{
    transition: all 0.3s ;
}
#efect:hover{
    transform: scale(1.15);
}

.progress{
  height: 25px;
  background: #171b3c;
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow:  0 2px 2px #4f4c4c;
  overflow: visible;
  position: relative;
}

.progress .progress-bar{
  border-radius: 20px;
  border: 1px solid #000;
  animation: animate-positive 2s;
}

.progress .progress-value{
  width: 65px;
  height: 25px;
  line-height: 25px;
  background: #171b3c;
  font-size: 15px;
  color: #fff;
  border-radius: 0 0 15px 15px;border: 1px solid #000;
  border-top: 0;
  box-shadow: 0 2px 2px #4f4c4c;
  position: absolute;
  bottom: -25px;
  right: 20px;
}